/amazon-web-services_updated.ipynb
/COVID_Mask
/COVID_Mask.zip
/COVID_Mask_Images.pt
/COVID_Mask_Labels.pt
/MNIST Simple Neural Network (Completed - No Task Solution).ipynb
/MNIST_Convolutional_NN_Lab_Ver(1).ipynb
/MS4H20 - Gradient Descent Programming - Lesson 2 - (Completed - No Task Solution).ipynb
/MS4H20 - Gradient Descent Programming(2).ipynb
/MS4H20 PyTorch Autograd (Completed - No Task Solution).ipynb
/MS4H20 PyTorch Basic Operation and Task 1.ipynb
/MS4H20 PyTorch Basic Operations (Completed - No Task Solution).ipynb
/MS4H20 PyTorch Part 3 (Completed - No Task Solutions).ipynb
/MS4H20 PyTorch Task 3(2)(1).ipynb
/Q1.jpg
/Q2.jpg
/Q3.jpg
/Q4.jpg
/Q5.jpg
/Q6.jpg
/Task1.ipynb
/Task2.ipynb
/Task3.ipynb
/ZIP folder.zip